/* GENERAL */
@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 16px;
  background-color: aqua;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  margin-top: 24px;
  color: rgb(53, 50, 50);
}

p {
  padding: 0;
  margin: 0;
}

.d-none {
  display: none;
}

.poke-element-icon.hidden {
  display: none;
}

.txt-black {
  color: black;
}

.active {
  text-decoration: underline solid green 4px;
  text-underline-offset: 8px;
}

#overlay-stats {
  color: black;
  padding-left: 25px;
  padding-top: 16px;
}

.overlay-stats-bar {
  height: 16px;
  border-radius: 10px;
  background: rgba(154, 205, 50, 0.3);
}

/* HEADER */

header {
  border: yellowgreen 2px solid;
}

/* CARD */

#content {
  height: 100vh;
  min-height: 100vh;
}

.title {
  padding: 4px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  color: white;
  font-weight: bold;
  background-color: rgba(63, 61, 61, 0.24);
}

.title-overlay {
  font-size: x-large;
}

#card {
  background-color: rgb(211, 144, 97);
  /* margin-left: auto; */
  /* margin-right: auto; */
  width: 200px;
  height: 250px;
  border: black 1px solid;
  border-radius: 10px;
  box-shadow: blueviolet 0 0 6px;
  margin-top: 75px;
  /* overflow-y: auto; */
  /* margin-bottom: 75px; */
  cursor: pointer;
}

#card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-bottom: 120px;
}

.poke-img-overlay {
  width: 70px;
  height: 70px;
}

#overlay-element-container {
  display: flex;
  justify-content: center;
}

/* CARD BG -TYPES */

.bg-fire {
  background-color: rgb(230, 64, 64);
}

.bg-water {
  background-color: blue;
}

.bg-grass {
  background-color: green;
}

.bg-ground {
  background-color: brown;
}

.bg-rock {
  background-color: gray;
}

.bg-steel {
  background-color: rgb(66, 61, 61);
}

.bg-ice {
  background-color: rgb(152, 152, 223);
}

.bg-electric {
  background-color: rgba(241, 238, 61, 0.829);
}

.bg-dragon {
  background-color: lightgreen;
}

.bg-ghost {
  background-color: rgb(209, 202, 202);
}

.bg-psychic {
  background-color: lightpink;
}

.bg-normal {
  background-color: lightgrey;
}

.bg-fighting {
  background-color: rgb(226, 80, 80);
}

.bg-poison {
  background-color: rgb(194, 113, 194);
}

.bg-bug {
  background-color: rgb(138, 233, 138);
}

.bg-flying {
  background-color: rgb(149, 149, 228);
}

.bg-dark {
  background-color: rgb(61, 58, 58);
}

.bg-fairy {
  background-color: lightpink;
}

/* CARD BG */

#card-bg {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poke-img {
  width: 100px;
  height: 105px;
  object-fit: contain;
  transition: all 175ms ease-in-out;
  &:hover {
    transform: scale(1.15);
  }
}

.poke-element-icon {
  width: 35px;
  height: 35px;
}

/* OVERLAY */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#card-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  background: antiquewhite;
  width: 40%;
  height: 65%;
  border-radius: 25px;
}

#card-overlay-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.poke-overlay-img {
  width: 40%;
  height: 31%;
}

#stats {
  display: flex;
  justify-content: space-around;
  color: black;
  background-color: azure;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  cursor: pointer;
}

#overlay-main {
  color: black;
  padding-left: 24px;
  padding-top: 24px;
}

.overlay-main-stats {
  padding-left: 24px;
}

#overlay-img-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}

#btn-container {
  display: flex;
  justify-content: center;
}

#btn-load-more {
  width: 220px;
  height: 80px;
  padding: 8px;
  color: black;
  font-weight: 600;
  background-color: rgb(218, 160, 53);
  margin-bottom: 100px;
  border-radius: 14px;
  font-size: x-large;
  cursor: pointer;
  &:hover {
    scale: 1.1;
    background-color: rgb(235, 201, 161);
  }
}

/* IMPRESSUM */

#impressum-text {
  padding-top: 75px;
  height: 100vh;
  text-align: center;
}

/* FOOTER */

footer {
  border: rgb(236, 34, 112) 2px solid;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: aliceblue;
}

#card-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7px;
}
