/* GENERAL */
@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 16px;
  background-color: aqua;
  height: 100vh;
}

html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  margin-top: 24px;
  color: rgb(53, 50, 50);
}

p {
  padding: 0;
  margin: 0;
}

.d-none {
  display: none;
}

.poke-element-icon.hidden {
  display: none;
}

.txt-black {
  color: black;
}

.active {
  text-decoration: underline solid green 4px;
  text-underline-offset: 8px;
}

#overlay-stats {
  color: black;
  padding-left: 35px;
  padding-top: 26px;
}

overlay-stats > p {
  margin-right: 24px;
}

.overlay-stats-bar {
  height: 16px;
  border-radius: 10px;
  background: rgba(154, 205, 50, 0.3);
}

.distance-txt {
  margin-bottom: 8px;
}

#top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#search-input {
  padding: 5px;
  font-size: larger;
  border-radius: 6px;
}

/* HEADER */

header {
  display: flex;
  align-items: center;
}

#title-logo {
  margin-left: 56px;
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 16px;
}

/* CARD */

#content {
  height: 100vh;
  min-height: 100vh;
}

.title {
  padding: 4px;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  color: white;
  font-weight: bold;
  background-color: rgba(63, 61, 61, 0.24);
}

.title-overlay {
  font-size: x-large;
}

.card {
  background-color: rgb(211, 144, 97);
  width: 200px;
  height: 250px;
  border: black 1px solid;
  border-radius: 10px;
  box-shadow: blueviolet 0 0 6px;
  margin-top: 75px;
  cursor: pointer;
}

#card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-bottom: 120px;
}

.poke-img-overlay {
  width: 70px;
  height: 70px;
}

#overlay-element-container {
  display: flex;
  justify-content: center;
}

#overlay-height {
  padding-left: 45px;
}

#overlay-weight {
  padding-left: 41px;
}

#overlay-abilities {
  padding-left: 32px;
}

.overlay-dist-bar {
  margin-right: 16px;
}

#stats-overlay {
  display: flex;
  flex-direction: column;
}

.stat-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stat-row span {
  width: 150px;
  text-align: left;
}

.stat-name {
  width: 150px;
  text-align: start;
  font-size: 18px;
  font-weight: bold;
}

.stats-row svg {
  border-radius: 50px;
  flex: 1;
  height: 30px;
  position: relative;
}

.tab-content svg {
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.stat-bar {
  transition: width 1s ease;
  fill: currentColor;
}

#card-bg {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poke-img {
  width: 100px;
  height: 105px;
  object-fit: contain;
  transition: all 175ms ease-in-out;
  &:hover {
    transform: scale(1.15);
  }
}

.poke-element-icon {
  width: 35px;
  height: 35px;
}

/* SLIDING */

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: white;
  font-size: 65px;
  cursor: pointer;
  transition: opacity 0.3s;
}

.prev {
  left: 25%;
}

.next {
  right: 25%;
}

.prev:hover,
.next:hover {
  opacity: 0.7;
}

/* OVERLAY */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#card-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(27, 27, 27);
  transform: translate(-50%, -50%);
  background: antiquewhite;
  width: 35%;
  height: 65%;
  border-radius: 25px;
}

#card-overlay-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.poke-overlay-img {
  width: 40%;
  height: 31%;
}

#stats {
  display: flex;
  justify-content: space-around;
  color: black;
  background-color: azure;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 8px;
  cursor: pointer;
}

#overlay-main {
  color: black;
  padding-left: 53px;
  padding-top: 34px;
}

overlay-main > p {
  margin-bottom: 16px;
}

.overlay-main-stats {
  padding-left: 24px;
}

#overlay-img-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 35px;
}

#btn-container {
  display: flex;
  justify-content: center;
}

#btn-load-more {
  width: 220px;
  height: 80px;
  padding: 8px;
  color: black;
  font-weight: 600;
  background-color: rgb(218, 160, 53);
  margin-bottom: 100px;
  border-radius: 14px;
  font-size: x-large;
  cursor: pointer;
  &:hover {
    scale: 1.1;
    background-color: rgb(235, 201, 161);
  }
}

/* IMPRESSUM */

#impressum-text {
  padding-top: 75px;
  height: 100vh;
  text-align: center;
}

/* FOOTER */

footer {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: aliceblue;
}

.card-footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 7px;
}

/* STATS BAR - */

.overlay-stats-bar {
  display: inline-block;
  width: 200px;
  height: 20px;
  background-color: lightgray;
  border-radius: 10px;
  overflow: hidden;
}
.overlay-stats-bar svg {
  width: 100%;
  height: 100%;
}

.bar-container {
  width: 75%;
  height: 20px;
  background-color: #ccc;
  border-radius: 15px;
  overflow: hidden;
}

.bar-value {
  height: 100%;
  background-color: green;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bar-text {
  color: #efe8e8;
  font-size: 12px;
  font-weight: 600;
}

.row {
  display: flex;
  margin-bottom: 2%;
  width: 70%;
  padding-left: 14%;
  padding-top: 2%;
}
